rules:
  - matches:
      managerTypes:
      - npm
    managerConfig:
      filePatterns:
      - "**/package.json"
  - matches:
      datasources:
        - nodejs
    dependencyConfig:
      extractVersion: v(.*)
  - matches:
      datasources:
        - npm
    dependencyConfig:
      versioning: "^(\\d+)\\.(\\d+)\\.(\\d+)(?:-(.+?))?(?:[-\\.](\\d+))?(?:[-\\.](\\d+))?$"
